{% extends "base.html" %}

{% block header%}
<div class="row">
		<section class="col-sm-12 col-md-12 col-lg-12 h1 text-center img-fluid" style="height:270px; background: url('/static/images/happyman.jpg'); background-size: cover;">
		
		</section>
		
		<section class=" jumbotron col-sm-12 col-md-12 col-lg-12 text-warning h1"> <h1 class="text-center display-1" style="font-family: 'Londrina Solid', cursive; font-weight:w900" > Thank you for your Reply <br/> 
		<a href="{% url 'index' %}" class="btn btn-dark btn-lg fa fa-arrow-left align-center"> </a>
		</h1> 
		
			
		</section>
		
		

</div>

{% endblock header %}










	
{% block content %}
	

	
	

{% endblock content %}